.app {
  border-style: solid;
  border-width: 5px;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 800px;
}

.dataset-selection-form {
  padding: 20px 0px 50px 0px;
  width: 470px;
}

.heading {
  padding: 30px 0px;
}

.model-stats {
  padding: 15px 60px 10px;
}

.param {
  margin: 5px 10px;
}